.article {
  list-style: none;
  display: flex;
  flex-direction: column;

  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    color: getColor("article-text");
    margin-bottom: 30px;
  }

  &__icon {
    background-color: getColor("thid-background");
    margin-bottom: 30px;
    fill: getColor("text");
    width: 450px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .article {
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;

    &__header {
      text-align: start;
    }

    &__description {
      width: 354px;
    }

    &__icon {
      width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .article {
    flex-wrap: nowrap;

    &__description {
      width: 270px;
    }

    &__icon {
      width: 270px;
    }
  }
}
