.clients {
  margin-top: 60px;
  padding-bottom: 60px;

  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    text-align: center;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__link {
    outline: 1px solid getColor("second-icons-color");
    border-radius: 4px;
    fill: getColor("second-icons-color");
    width: 210px;
    height: 92px;

    &:hover,
    &:focus {
      outline-color: getColor("main-color");
      fill: getColor("main-color");
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
@media screen and (min-width: 768px) {
  .clients {
    &__link {
      width: 226px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 94px;
    padding-bottom: 94px;

    &__header {
      margin-bottom: 50px;
    }

    &__link {
      width: 170px;
      height: 92px;
    }
  }
}
