.footer {
  background: getColor("second-background");

  &__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__information {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__logo {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  &__contact {
    flex-direction: column;
    gap: 9px;
    color: getColor("second-text");
    font-style: normal;
    display: flex;
  }

  &__address {
    color: getColor("second-text");
    font-style: normal;
    display: flex;
  }

  &__mail {
    color: getColor("footer-kontakt");
    text-decoration: none;

    &:hover,
    &:focus {
      color: getColor("link-focus");
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__telephone {
    color: getColor("footer-kontakt");
    text-decoration: none;

    &:hover,
    &:focus {
      color: getColor("link-focus");
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.join {
  display: flex;
  flex-direction: column;
  color: getColor("second-text");

  &__label {
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
  }

  &__icon {
    display: flex;
    width: 44px;
    height: 44px;
    border: 0px solid getColor("icon-background");
    border-radius: 50%;
    list-style: none;
    background-color: getColor("icon-background");
    fill: getColor("icon-color");
    margin-bottom: 60px;

    &:hover,
    &:focus {
      background-color: getColor("main-color");
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__position {
      align-items: baseline;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__information {
      margin-right: 140px;
      margin-left: 66px;
    }
  }

  .join {
    margin-right: 78px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background: getColor("second-background");

    &__position {
      text-align: inherit;
    }

    &__information {
      margin-left: 0px;
      margin-right: 70px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}
