html {
  background-color: getColor("html-background");
}

.body {
  font-family: "roboto", "raleway", sans-serif;
  position: relative;
  background: getColor("background");
  font-size: 14px;
  color: getColor("text");
  letter-spacing: 0.03em;
  line-height: 24px;
  width: 480px;
  height: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .body {
    width: 768px;
    height: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .body {
    width: 1600px;
    height: 100%;
    margin: auto;
  }
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  min-width: 480px;
  margin: auto;
  align-items: center;
  padding: 0px 15px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 768px;
    margin: auto;
    align-items: center;
    padding: 0px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: auto;
    align-items: center;
    padding: 0px 15px;
  }
}

.icons {
  align-items: center;
  justify-content: center;
  display: flex;
  fill: getColor("info-color");
}

@media screen and (min-width: 768px) {
  .icons {
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: flex;
    fill: getColor("info-color");
  }
}

@media screen and (min-width: 1200px) {
  .icons {
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    fill: getColor("info-color");
  }
}
