.header {
  border-bottom: 1px solid getColor("header-border");

  &__elements {
    display: flex;
  }

  &__contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid getColor("header-border");

    &__contact {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    &__icons {
      display: flex;
    }

    &__mail {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17px;
      letter-spacing: 0.02em;
      color: getColor("info-color");
      text-decoration: none;
      justify-content: flex-start;

      &:hover,
      &:focus {
        color: getColor("link-focus");
        fill: getColor("link-focus");
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    &__telephone {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17px;
      letter-spacing: 0.02em;
      color: getColor("info-color");
      text-decoration: none;
      justify-content: flex-start;

      &:hover,
      &:focus {
        color: getColor("link-focus");
        fill: getColor("link-focus");
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid getColor("header-border");

    &__contact {
      flex-direction: row;
    }

    &__icons {
      align-items: center;
    }

    &__mail {
      font-size: 14px;
      line-height: 1.14;
    }

    &__telephone {
      font-size: 14px;
      line-height: 1.14;
      margin-left: 30px;
    }
  }
}
