.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  &__first-word {
    color: getColor("main-color");
  }

  &__second-word {
    color: getColor("text");
  }

  &__third-word {
    color: getColor("second-text");
  }
}
