.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
    margin-right: 101px;
    gap: 60px;

    &__link {
      text-decoration: none;
      color: getColor("text");
      position: relative;

      &:hover,
      &:focus {
        color: getColor("link-focus");
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .active {
    color: getColor("main-color");

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 36px;
      background: getColor("main-color");
      height: 4px;
      width: 100%;
      border-radius: 2px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-right: 345px;
    gap: 46px;
  }
}
@media screen and (min-width: 1200px) {
  .active {
    color: getColor("main-color");

    &::after {
      content: "";
      top: 45.6px;
    }
  }
}
